# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/
.venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Test artifacts
.tox/
.nox/
pytest_cache/
